
.img-cover img {
    max-width: 350px;
}

.form-control {
    background-color: #1c1c1c;
    color: #927daf;
    width: 1000px;
}

textarea {
    min-height: 100px;
}

.label-file {
    cursor: pointer;
    color: #927daf;
}

input[type="file"] {
    background-color: #1c1c1c;
    display: none;
}
